.navigation ul li {
    display: inline-block;
    padding: 32px 0 32px 0;
    height: 0;
    text-decoration: none;
}
a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}
.list-item1 {
    text-align: center;
    text-decoration: none;
    width: 100px;
    height: 50px;
}

.list-item2 {
    text-align: center;
    width: 100px;
    height: 50px;
}

.list-item3 {
    text-align: center;
    width: 100px;
    height: 50px;
}
.list-item4 {
    text-align: center;
    width: 100px;
    height: 50px;
}

.list-item5 {
    text-align: center;
    width: 100px;
    height: 50px;
}
.box {
    background-color: #00BDC9;
    text-align: center;
}
.content {
    margin: auto;
    text-align: center;
}
.container{
    width: 856px;
    margin: auto;
}
.title {
    text-align: center;
    font-style: inherit;
}
.text {
    text-align: left;
    margin: 20px;
}
.span {
    color:#04959E;
}
.main-list {
text-align: left;
}

.buttons {
    margin-left: 380px;
    height: 200px;
}
.button {
    background-color: #04959E;
    color: white;
    border: none;
    padding: 0.5rem;
}
.footer {
    text-align: center;
}